// ========================================================================
// CONTACTO
// ========================================================================

.container {

    z-index: 9;
    position: relative;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;

    .contacto__bloque {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: auto;
        background: #FFF;
        clear: both;
        color: #3c3c3c;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

        .contacto__div {

            clear: both;
            color: #3c3c3c;
            padding: 3em;

            p {

                margin: 0 0 1em 0;
            }

            .formulario{

                .userNombre, .userApellido, .userE-mail, .userComentarios, .userIngrediente {

                    border-radius: 2px;
                    font-size: 16px;
                    font-family: "roboto";
                    color: #3c3c3c;
                    border: 0;
                    padding: 10px 20px;
                    margin: 0 0 20px;
                    width: 100%;
                    background: #f1efef;
                }

                .term__cond{

                    a {
                        
                        color: #3c3c3c;
                        text-decoration: none;
                        transition: all 0.2s ease-in-out;
                    }
                }

                .userEnviar, .userReset {

                    background: #ed174f;
                    color: #FFF;
                    border: 0;
                    padding: 10px 20px;
                    margin: 0 0 20px;
                    width: 25%;
                    border-radius: 2px;
                    font-size: 16px;
                    font-family: "robotolight";
                    cursor: pointer;

                }
            }
        }

        .mapa__direcc {

            display: flex;
            flex-direction: column;

            .mapa2 {

                width: 100%;
                height: 100%;

                .mapa2 iframe {

                    width: 100%;
                    height: 100%;
                }
            }

            .bloque2 {

                background: #ed174f;
                padding: 3em;
                clear: both;
                color: #3c3c3c;
                display: flex;
                flex-direction: column;
                align-content: center;

                .bloque2 h3 {

                    color: #FFF;
                }

                address {

                    margin-bottom: 1rem;
                    font-style: normal;
                    line-height: inherit;

                    .direccion__lista{

                        .bloque2 ul li {

                            color: #FFF;
                            list-style: none;

                            .bloque2 strong {

                                color: #FFF;
                            }

                            strong {
                                font-family: "roboto";
                            }
                        }
                    }

                    .informacion{

                        .bloque2 ul li {

                            color: #FFF;
                            list-style: none;

                            .bloque2 strong {

                                color: #FFF;
                            }

                            strong {
                                font-family: "roboto";
                            }
                        }
                    }
                }
            }
        }
    }
}