// ========================================================================
// CONTACTO
// ========================================================================

@import './mapaVariables';

.container {

    @include container;

    .contacto__bloque {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: auto;
        background: map-get($colores,"fondoblanco");
        clear: both;
        color: map-get($colores,"grisoscuro"); 
        box-shadow: $sombra;

        @media screen and (min-width: 768px){
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 1340px){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-template-rows: auto;
        }

        .contacto__div {

            clear: both;
            color: map-get($colores,"grisoscuro");
            padding: 3em;

            p {

                margin: 0 0 1em 0;
            }

            .formulario{

                .userNombre, .userApellido, .userE-mail, .userComentarios, .userIngrediente {

                    border-radius: 2px;
                    font-size: 16px;
                    font-family: "roboto";
                    color: map-get($colores,"grisoscuro");
                    border: 0;
                    padding: 10px 20px;
                    margin: 0 0 20px;
                    width: 100%;
                    background: map-get($colores,"grisclaro");
                }

                .term__cond{

                    a {
                        
                        color: map-get($colores,"grisoscuro");
                        text-decoration: none;
                        transition: all 0.2s ease-in-out;
                    }
                }

                .userEnviar, .userReset {

                    background: map-get($colores,"rojoclaro");
                    color: map-get($colores,"fondoblanco");
                    border: 0;
                    padding: 10px 20px;
                    margin: 0 0 20px;
                    width: 25%;
                    border-radius: 2px;
                    font-size: 16px;
                    font-family: "robotolight";
                    cursor: pointer;

                }
            }
        }

        .mapa__direcc {

            display: flex;
            flex-direction: column;

            .mapa2 {

                width: 100%;
                height: 100%;

                iframe {

                    width: 100%;
                    height: 100%;
                }
            }

            .bloque2 {

                background: map-get($colores,"rojoclaro");
                padding: 3em;
                clear: both;
                color: map-get($colores,"grisoscuro");
                display: flex;
                flex-direction: column;
                align-content: center;

                h3 {

                    color: map-get($colores,"fondoblanco");
                }

                address {

                    margin-bottom: 1rem;
                    font-style: normal;
                    line-height: inherit;

                    .direccion__lista{

                        .direccion__item {

                            color: map-get($colores,"fondoblanco");
                            list-style: none;

                            .bloque2 strong {

                                color: map-get($colores,"fondoblanco");
                            }

                            strong {
                                font-family: "roboto";
                            }
                        }
                    }

                    .informacion{

                        .informacion__item {

                            color: map-get($colores,"fondoblanco");
                            list-style: none;

                            .bloque2 strong {

                                color: map-get($colores,"fondoblanco");
                            }

                            strong {
                                font-family: "roboto";
                            }
                        }
                    }
                }
            }
        }
    }
}