// ========================================================================
// TITULOS
// ========================================================================

@import './mapaVariables';

h1{
    font-size: 53px;
    text-align: center;
    color: map-get($colores,"rojoclaro");
    font-family: "Roboto";
    margin: 1.5em 0 1em 0;
    line-height: 1.2em;
}

h2{
    font-size: 50px;
    text-align: center;
    color: map-get($colores,"rojoclaro");
    font-family: "Roboto";
    margin: 1em 0 0.5em 0;
    line-height: 1.2em;
}

h3, .titulo__historia{
    font-size: 24px;
    text-align: left;
    color: map-get($colores,"rojoclaro");
    font-family: "roboto";
    margin: 1em 0 0.5em 0;
    line-height: 1.2em;
}