// ========================================================================
// FOOTER
// ========================================================================

@import './mapaVariables';

footer {
    background-color: map-get($colores,"grisoscuro2");
    padding: 50px 0px 70px;
    color: map-get($colores,"fondoblanco");

    .container {

        @include container;

        .row{

            @include row;

            .row{
                    
                @include row;

                .logo__boton{

                    .img-responsive {

                        max-width: 100%;
                        
                    }
                }

                strong {

                    font-family: "roboto";

                }

                .direccion {

                    margin-bottom: 1rem;
                    font-style: normal;
                    line-height: inherit;

                    .direccion__lista {

                        margin-bottom: 50px;

                        .direccion__item {
                            margin: 0;
                            font-size: .85em;
                            list-style: none;

                            strong {
                                font-family: "roboto";
                            }
                        }
                    }

                    .informacion{

                        margin-bottom: 50px; 

                        .informacion__item{

                            margin: 0;
                            font-size: .85em;
                            list-style: none;

                        }
                    }
                }

                .horarios{

                    ul {

                        margin-bottom: 50px;

                        li {

                            margin: 0;
                            font-size: .85em;
                            list-style: none;

                            strong {

                                font-family: "roboto";

                            }
                        }
                    }
                }

                .social__footer {

                    padding-top: 10px;

                    ol {

                        margin-bottom: 50px;

                    }

                    .social__lista__footer {

                        display: flex;
                        justify-content: flex-start;
                        list-style: none;

                        .social__item {
                            margin: 0;
                            padding: 0;
                            width: 34px;
                            height: 34px;

                            .social__boton {

                                color: map-get($colores,"fondoblanco");

                                img {
                                    
                                    width: 24px;
                                    height: 24px;
                                    background-color: transparent;
                                    filter: invert(99%) sepia(0%) saturate(3961%) hue-rotate(54deg) brightness(121%) contrast(100%);
                                }
                            }
                        }
                    }
                }
                .twitter {
                    padding-top: 20px;
                }

            }

            .contactenos{

                text-align: center;
                padding-top: 20px;

                .comienzo, .mail {

                    color: map-get($colores,"fondoblanco");
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;
                }

                a:hover {

                    color: #ed174f;
                }

                p {

                    margin: 0 0 1em 0;

                }

            }

        }
    }
}