// ========================================================================
// HEADER
// ========================================================================

header{

    background: #FFF;
    width: 100%;
    min-height: 125px;
    margin: 0;
    position: absolute;
    z-index: 998;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

} 
