// ========================================================================
// HEADER
// ========================================================================

@import './mapaVariables';

header{

    background: map-get($colores,"fondoblanco");
    width: 100%;
    min-height: 125px;
    margin: 0;
    position: absolute;
    z-index: 998;
    box-shadow: $sombra;

    @media (max-width: 992px){

        background: map-get($colores,"fondoblanco");
        min-height: calc(0.4rem + 9vh);
        position: absolute;
        z-index: 999999;
        width: 100%;
        margin: 0;
        position: fixed;
    }

} 
