// ========================================================================
// HEADER
// ========================================================================

@import './variables';

header{

    background: #FFF;
    width: 100%;
    min-height: 125px;
    margin: 0;
    position: absolute;
    z-index: 998;
    box-shadow: $sombra;

} 
