// ========================================================================
// IMAGEN
// ========================================================================

@import './mapaVariables';

.imagen{

    .carousel{

        position: relative;

        .carousel-inner{

            .carousel-item{

                .imagen__imagen {

                    width: 100%;
                    height: calc(100vh - 100px);
                    object-fit: cover;
                    object-position: center;
                    
                }
            }

        }

        .carousel-control-prev{

            .carousel-control-prev-icon {

                width: 5rem;
                height: 5rem;

            }

        }

        .carousel-control-next{

            .carousel-control-next-icon {

                width: 5rem;
                height: 5rem;

            }
        }
    }

    .contenedor {

        padding: 0;

        .container {

            @include container;

            .row {

                @include row;

                .menu__grid {

                    margin-top: -150px;
                    width: 100%;
                    height: 550px;
                    padding-right: 25px;
                    padding-left: 25px;
                    background: transparent;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;

                    @media screen and (min-width: 768px){
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                    }

                    @media screen and (min-width: 992px){
                        display: flex;
                        flex-direction: column;
                    }

                    @media screen and (min-width: 1340px){
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                    }
                    
                    .menu {

                        width: 100%;
                        height: 100%;

                        .imagen__flex {

                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            
                        }
                    }
                }
            }
        }
    }
}