// ========================================================================
// LOGO
// ========================================================================

.logo{

    @media only screen and (max-width: 992px){

        left: calc(50% - 40px);
        position: absolute;
    }

    height: 100%;
    margin: 0 auto;

    .container{
    
        @include container;
    
        .logo__div{
    
            left: 0;
            top: 20px;
            width: 135px;
            position: absolute;
    
            .logo__boton{
    
                .logo__img{

                    @media only screen and (max-width: 992px){
                        
                        width: calc(0.4rem + 10vh)
                    }
    
                    width: 8rem;
    
                }
            }
        }
    }
}

    


