// ========================================================================
// LOGO
// ========================================================================

.logo{

    height: 100%;
    margin: 0 auto;

    .container{
    
        @include container;
    
        .logo__div{
    
            left: 0;
            top: 20px;
            width: 135px;
            position: absolute;
    
            .logo__boton{
    
                .logo__img{
    
                    width: 8rem;
    
                }
            }
        }
    }
}

    


