// ========================================================================
// MAIN
// ========================================================================


@import './mapaVariables';

main{

    @media only screen and (max-width: 992px){
        
        padding: 80px 0 0 0;
    }
    
    padding: 125px 0 0 0;
    background-color: map-get($colores,"grisclaro");
}