// ========================================================================
// MAPA Y VARIABLES
// ========================================================================

$sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$sombraclara: 0 4px 8px 0 rgba(140, 140, 140, 0.2), 0 6px 20px 0 rgba(140, 140, 140, 0.19);

// $sombraclara:0px 0px 9px 0px rgb(0 0 0 / 10%);

$borderojo:1px solid #ed174f;

$lupa: #eeeded url(https://img.icons8.com/fluency-systems-regular/48/000000/search--v1.png) no-repeat;

$widthoftable: 31%;

$colores: (
    "rojoclaro": #ed174f,
    "fondoblanco": #FFF,
    "grisoscuro": #3c3c3c,
    "grisoscuro2": #262626,
    "grisclaro": #f1efef,
    "negro": #000,
    "h3color": #b4bdc6,
);


