// ========================================================================
// MAPA Y VARIABLES
// ========================================================================

$sombra: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$sombraclara: 0 4px 8px 0 rgba(140, 140, 140, 0.2), 0 6px 20px 0 rgba(140, 140, 140, 0.19);

// $sombraclara:0px 0px 9px 0px rgb(0 0 0 / 10%);

$borderojo:1px solid #ed174f;

$lupa: #eeeded url(https://img.icons8.com/fluency-systems-regular/48/000000/search--v1.png) no-repeat;

$widthoftable: 31%;

$colores: (
    "rojoclaro": #ed174f,
    "fondoblanco": #FFF,
    "grisoscuro": #3c3c3c,
    "grisoscuro2": #262626,
    "grisclaro": #f1efef,
    "negro": #000,
    "h3color": #b4bdc6,
);

$fuentes: (
    "desktop": calc(0.4rem + 1.2vh),
    "tablet": calc(0.5rem + 1vh),
    "movil": calc(0.6rem + 1vh),
    "movilS": calc(0.5rem + .8vh),
);

@each $key, $value in $fuentes{
    .fuente-#{$key}{
        font-size: $value;
    }
}

$planos:(
    "frutas__Verduras": #65ba69,
    "Carnicerías": #e43834,
    "Pescados__Mariscos": #1d87e4,
    "Frutos__secos": #ffb64c,
    "Aves__Huevos": #fff075,
    "Aceitunas__Conservas": #eb3f79,
    "Quesería": #ff9d7f,
    "Legumbres": #8c6d62,
    "Jamon__Embutidos": #49138b,
    "Mercado": #ed174f,
    "Baños": #3c3c3c,
    "Elevadores": #7a7a7a,
    "Bares": #ac1356,
);


@each $name, $value in $planos {

    .color-#{$name}:hover {
        color: $value;
    }
}

@each $name, $value in $planos {

    .color-#{$name}:after {
        background: $value;
    }
}






