// ========================================================================
// MENU - SOCIAL
// ========================================================================

@import './mapaVariables';

.container{

    @include container;

    .menu__primario{
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
        top: 0;

        .div__menu__lista{

            width: auto;
            padding: 0;
            background: transparent;
            top: 75px;
            left: 170px;
            border: none;
            position: absolute;
            transition: all .2s ease-in-out;

            .menu__lista{

                padding: 0;
                margin: 0;
                list-style-type: none;
                display: flex;
                justify-content: center;

                .menu__item{
                    position: relative;
                    border-right: 1px solid #bbb;
                    line-height: 1;
                    padding: 0;
                    margin: 0;

                    .menu__boton{

                        text-transform: capitalize;
                        font-size: 1.1em;
                        font-family: "roboto";
                        color: map-get($colores,"grisoscuro");
                        padding: 0 18px 32px;
                        margin: 0;
                        transition: all .2s ease-in-out;
                        position: relative;
                        text-decoration: none;

                    }

                    a:hover {

                        color: map-get($colores,"rojoclaro");
                        text-decoration: dotted;

                    }
                    
                    button {

                        border: 0;
                        background-color: white;

                    }


                }
            }
        }
    }

    .social{

        width: auto;
        top: 12px;
        right: 20px;
        position: absolute;
        transition: all .3s ease-in-out;

        &__lista{

            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;

            .social__item{

                margin: 0;
                padding: 0;
                width: 34px;
                height: 34px;

                .social__img{

                    width: 24px;
                    height: 24px;
                    background-color: transparent;
                    filter: invert(76%) sepia(11%) saturate(8%) hue-rotate(343deg) brightness(103%) contrast(82%);

                }

                .social__img:hover {

                    filter: invert(28%) sepia(98%) saturate(4541%) hue-rotate(333deg) brightness(93%) contrast(100%);

                }

                a{
                    color: map-get($colores,"grisoscuro");
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;
                }

            }
        }

    }

}