// ========================================================================
// PLANOS
// ========================================================================

@import './mapaVariables';

.container {

    @include container;

    .planos {

        padding-right: 8rem;
        padding-left: 8rem;
        margin-right: auto;
        margin-left: auto;

        a {

            color: map-get($colores,"grisoscuro");
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            .planos__img {
                
                width: 100%;
                height: 100%;
                margin: auto;
                padding: 40px;
            }
        }
    }
}