// ========================================================================
// VIDEO MERCADO
// ========================================================================

@import './mapaVariables';

.inicio__menu__movil{

    @media only screen and (min-width: 425px) {

        background-image: none;
        margin-bottom: 0px;
    }

}

.inicio__menu {

    background-image: url(../assets/meridiano.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    margin-bottom: 200px;

    @media only screen and (max-width: 992px) {

        margin-bottom: 0px;
    }

    @media only screen and (max-width: 425px) {

        background-image: none;
        margin-bottom: 0px;
    }

    .container {

        @include container;

        @media screen and (min-width: 768px){
            padding-right: 0px;
            padding-left: 0px;
            width: 800px;
        }

        .row {

            @include row;

            @media screen and (min-width: 768px){
                margin-right: -130px;
                margin-left: -130px;
            }

            .div__bloque {

                background: map-get($colores,"fondoblanco");
                margin-top: -40px;
                margin-bottom: -200px;
                padding: 2.5em 2.5em 4em 2.5em;
                clear: both;
                color: map-get($colores,"grisoscuro");
                box-shadow: $sombra;
                width: 66.66666667%;
                margin-left: 16.66666%;

                @media only screen and (max-width: 992px) {
                    margin-top: 0;
                    margin-bottom: 0;
                    width: 100%;
                    margin-left: 0;
                    margin-bottom: 0px;
                }

                .div__video {

                    position: relative;
                    display: block;
                    height: 0;
                    padding: 0;
                    overflow: hidden;
                    padding-bottom: 56.25%;

                    iframe {

                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                    }
                }

                blockquote {

                    @media only screen and (max-width: 768px) {
                        font-size: 2em;
                    }

                    line-height: 1.2;
                    color: map-get($colores,"rojoclaro");
                    border-left: none;
                    font-size: 3em;
                    font-family: "roboto";
                    padding: 10px 20px;
                    margin: 0.8em 0;
                    text-align: center;
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 40px;
                    margin-inline-end: 40px;
                }
                p {

                    text-align: center;
                    margin: 0 0 1em 0;
                }
            }
        }
    }

}